@model UserAccounts.Entities.UserAccount

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UserAccount</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.account.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.account.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.department.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.department.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.municipality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.municipality)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
